@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
   --color-accent: #fc4747;
   --color-primary: #10141e;
   --color-secondary: #161d2f;
   --color-tertiary: #5a698f;
   --color-white: #ffffff;

   --font-sans: "Outfit", serif;
   --text-base: 15px;
   --spacing: 4px;
   --text-2xl: 32px;
   --text-xl: 24px;
   --text-lg: 24px;
   --text-md: 18px;
   --text-xs: 13px;
}

@layer base {
   body {
      @apply bg-primary font-sans text-base font-light text-white;
   }

   h1,
   h2,
   h3,
   h4 {
      @apply leading-normal;
   }

   h1,
   h2 {
      @apply font-light;
   }

   h3,
   h4 {
      @apply font-medium;
   }

   h1 {
      @apply text-2xl;
   }

   h2 {
      @apply text-xl;
   }

   h3 {
      @apply text-lg;
   }

   h4 {
      @apply text-md;
   }

   p,
   span {
      @apply text-base leading-normal font-light;
   }

   input:-webkit-autofill {
      background-clip: text !important;
      -webkit-box-shadow: 0 0 0px 1000px var(--color-primary) inset !important;
      -webkit-text-fill-color: var(--color-white) !important;
      transition: background-color 5000s ease-in-out 0s;
   }
}

@layer components {
   .search-container {
      @apply flex w-full items-start gap-x-5 text-lg;
   }

   .search,
   .form-input {
      @apply caret-accent w-full pb-3 font-light;
   }

   .search:focus,
   .search:active {
      @apply border-b-tertiary border-b-1 outline-none;
   }

   .form-input, .form-input:valid {
      @apply border-b-tertiary border-b-1 indent-4 outline-none relative;
   }

   .form-input:focus {
      @apply border-b-white bg-none;
   }

   .form-input:invalid {
      @apply border-b-accent;
   }
}

@layer utilities {
   .debug,
   .debug > * {
      @apply outline-1 outline-red-500;
   }
}
